

@{
  Layout = "_Layout";
}


@model MyRecipes.Models.UserRecipe //model directive tells our views what type of data will be passed into the view from the controller route. In this case we're telling the view that it will receive a model that is an Item.

<h4>Add a Recipe</h4>
@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.RecipeName) 
  @Html.TextBoxFor(model => model.RecipeName)

  @Html.LabelFor(model => model.IngredientList)
  @Html.TextBoxFor(model => model.IngredientList) 

  @Html.Label("Give recipe a rating from 0-5")
  @Html.DropDownListFor(m => m.RecipeRating, Enumerable.Range(0,5).Select(i => new SelectListItem { Text = i.ToString(), Value = i.ToString() }))


  @* @Html.Label("Select a category for this recipe")
  @Html.DropDownList("CategoryId") *@

  <input type="submit" value="Add to my recipe box" class="btn" />
}

<br><p>@Html.ActionLink("Back to Recipe List", "Index")</p> 