@{
  Layout = "_Layout"; 
}

@model MyRecipes.Models.UserRecipe

<br>
<h5>Recipe Details</h5>
<br>
<h6>@Html.DisplayFor(model => model.RecipeName)</h6>

<br>
<h6>Ingredients:</h6>
<ul>
@foreach (string word in ViewBag.text)
{
  <li>@($"{word}")</li>
}
</ul>


@if (@Model.JoinEntities.Count == 0)
{
  <br>
  <p>This recipe has no category tags yet.</p>
  <p>@Html.ActionLink($"Add one!", "Edit", new {id=Model.UserRecipeId})</p>

}
else
{
  <h6>Categories the item belongs to:</h6>
  <ul>
    @foreach (var join in Model.JoinEntities)
    {
      <li>@join.Category.Name</li>
      @using (Html.BeginForm("DeleteCategoryUserRecipe", "UserRecipes"))
      {
        @Html.Hidden("joinId", @join.CategoryUserRecipeId)
        <input type ="submit" value="remove category"/>
      }<br>
    }
  </ul>
  @Html.ActionLink("Edit Recipe", "Edit", new {id=($"{Model.UserRecipeId}")})
}

@* <p>@Html.ActionLink("Add a Category", "AddCategory", new { id = Model.ItemId })</p>

<p>@Html.ActionLink("Back to list", "Index")</p>

<p>@Html.ActionLink($"Edit this item", "Edit", new {id=Model.ItemId})</p>

<p>@Html.ActionLink("Delete this item", "Delete", new {id=Model.ItemId})</p> *@