@{
  Layout = "_Layout";
}

@model MyRecipes.Models.UserRecipe
<br>
<h3>Edit @Model.RecipeName Recipe Below</h3>
<br>
@using (Html.BeginForm())
{
<table class="table">
  <tbody>
    @Html.HiddenFor(model => model.UserRecipeId)
    <tr>
      <td>
        @Html.LabelFor(model => model.RecipeName)
        @Html.EditorFor(model => model.RecipeName)
      </td>
    </tr>
    <tr>
      <td>
        @Html.LabelFor(model => model.IngredientList)
        @Html.EditorFor(model => model.IngredientList)
      </td>
    </tr>
    <tr>
      <td>
        @Html.LabelFor(model => model.RecipeRating)
        @Html.DropDownListFor(m => m.RecipeRating, Enumerable.Range(0,6).Select(i => new SelectListItem { Text = i.ToString(), Value = i.ToString() }))
      </td>
    </tr>
    <tr>
      <td>
        @if (@Model.JoinEntities.Count == 0)
        {
          <p>This recipe has no category tags yet.</p>
        }
        else 
        {
          @Html.Label("Current Category Tags:")
          @foreach (var join in Model.JoinEntities)
          {
            <p>@join.Category.Name</p>
          }
        }

        @Html.Label("Add a category to this recipe")
        @Html.DropDownList("CategoryId", "none")
      </td>
    </tr>
    <tr>
      <td>
        <input type="submit" value="Update Recipe" />
      </td>
    </tr>
  </tbody>
</table>
}
<br>


<p>@Html.ActionLink("Never mind", "Index")</p>
